html{
    overflow-x: hidden;
    background: rgba(197, 237, 255, 0.13);
}
/*↓ヘッダー、フッター固定*/
body{
    margin: 0;
    padding: 160px 0 50px 0;
    overflow-x: hidden;
}

* html body{
    overflow: hidden;
}
div#headerArea {
    position: fixed !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 180px;
    background-color: #ebebeb;
    color: #fff;
    box-shadow: 0px -4px 3px -3px rgba(0,0,0,0.4) inset;
    z-index: 990;
}
* html div#contentsArea{
     height: 100%;
     overflow: auto;
 }
/*↑ヘッダー、フッター固定*/
.title{/*ロゴ*/
    position: absolute;
    top: 6px;
    left: 3%;
    font-size: 80px;
    text-shadow: 1px 1px 0px #000000,
    -1px 1px 0px #000000,
    1px -1px 0px #000000,
    -1px -1px 0px #000000;
}
/*↓右メニュー*/
/*ハンバーガー*/
.menu-trigger,
.menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
    z-index: 99999999;
    float: right;


}
.menu-trigger {
    position: relative;
    width: 50px;
    height: 44px;
    margin: 35px 50px 0 0;
}
.menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #000000;
    border-radius: 4px;
}
.ham1b {
    top: 0;
}
.ham2b {
    top: 20px;
}
.ham3b {
    bottom: 0;
}
.ham1a {
    -webkit-transform: translateY(20px) rotate(-45deg);
    transform: translateY(20px) rotate(-45deg);
}
.ham2a {
    opacity: 0;
}
.ham3a {
    -webkit-transform: translateY(-20px) rotate(45deg);
    transform: translateY(-20px) rotate(45deg);
}

.ham-menub {
    background-color: #fff; /*メニュー背景色*/
    box-sizing: border-box;
    height: 900px;
    padding: 10% 5% 0px 20px; /*メニュー内部上下左右余白*/
    position: fixed;
    top: -900px; /*メニュー横幅①と合わせる*/
    transition: transform 0.3s linear 0s; /*0.3s は変化するのにかかる時間*/
    width: 100%; /*メニュー横幅①*/
    z-index: 1000;
    box-shadow: 0px -4px 3px -3px rgba(0,0,0,0.4) inset;
}
li{
    color: black;
    list-style:none;
    font-family: "Franklin Gothic Book";
    font-size: 40px;
    padding: 20px;
    text-transform: uppercase;
}

.ham-menua {
    transform: translateY(900px); /*メニュー横幅①と合わせる*/
}
.ham-bgb {

}
.ham-bga {
    opacity: 0.5; /*黒背景部分透過度*/
    z-index: 999;
    background-color: #333; /*黒背景部分背景色*/
    display: block;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 0.3s linear 0s; /*0.3s は変化するのにかかる時間*/
    width: 100%;
}
/*ハンバーガー終*/
.body1{
    width:100%;
    height:100%;
    left:100%;
    top:0;
    background:#34495e;
    position:absolute;
    transition:all .5s ease;
    z-index:9999;
}
.body2{
    left:0;
}
.body3{
    width:100%;
    height:100%;
    left:100%;
    top:0;
    background: #fff;
    position:absolute;
    transition:all .5s ease;
    z-index:999999;
}
.body4{
    left:0;
}
.to1{
    width:100%;
    height:100%;
    right:0;
    top:0;
    background:#34495e;
    position:absolute;
    transition:all .5s ease;
    z-index:9999;
}
.to2{
    right:100%;
}
.to3{
    width:100%;
    height:100%;
    right:0;
    top:0;
    background:#fff;
    position:absolute;
    transition:all .5s ease;
    z-index:999999;
}
.to4{
    right:100%;
}

/*//////////////////////////////////////////////////////////////*/

.example {
    position: relative;
}

.example a {/*aタグを画像の真ん中に*/
    position: absolute;
    top: 80%;
    left: 25%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    /*以下装飾*/
    margin:0;/*余計な隙間を除く*/
    font-size: 80px;/*文字サイズ*/
    border-bottom: solid #ffb11b 12px; /*線で囲う*/
    padding: 1px 8px 1px 8px;/*文字と線の間の余白*/
    color: white;/*文字色*/
    text-decoration: none;/*下線を表示させない*/
    background: rgba(52, 73, 94, 0.9);
    cursor: pointer;
}
.example h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    /*以下装飾*/
    margin:0;/*余計な隙間を除く*/
    font-size: 120px;/*文字サイズ*/
    padding: 1px 8px 1px 8px;/*文字と線の間の余白*/
    color: white;/*文字色*/
    text-decoration: none;/*下線を表示させない*/
}
.example h2 {
    position: absolute;
    top: 40%;
    left: 30%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    /*以下装飾*/
    margin:0;/*余計な隙間を除く*/
    font-size: 50px;/*文字サイズ*/
    padding: 1px 8px 1px 8px;/*文字と線の間の余白*/
    color: white;/*文字色*/
    text-decoration: none;/*下線を表示させない*/
}
.example a:hover{/*カーソルを当てたとき*/
    background: rgba(52, 73, 94, 1);/*背景を半透明に*/
}

.example img {
    width: 100%;
}

.subbody{
    padding: 10px 10px 5px 10px;
    margin: -10px 20px 0 20px;
    background: rgba(52, 73, 94, 0.2);
}



/* ボタンの大きさと位置をここで指定 */
.btn__box {
    position: relative;
    line-height: 50px;
    overflow: hidden;
    padding: 0 0 0 16px;
    width: 160px;
    background: rgba(23, 31, 47, 0.94);
}
.btn__box a {
    display: block;
    font-family: "Franklin Gothic Book";
    font-size: 32px;
    color: #e6e9e9;
}
/* 線(ボーダー)のスタイル 共通 */
.btn__box:before,
.btn__box:after,
.btn__box a:before,
.btn__box a:after {
    content: '';
    position: absolute;
    background: rgba(255, 255, 255, 1); /*線の色*/
}
/* 左のボーダー */
.btn__box a:after {
    top: -50px;
    left: 0;
    width: 4px;
    height: 50px;
}
.btn__box a:after {
    animation: topAnim 1.5s linear .75s infinite;
}
/* 各アニメーション */
@keyframes topAnim {
    0% {top:-80px;}
    100% {top:80px;}
}
