
/*↓ヘッダー、フッター固定*/
body{
    margin: 0;
    padding: 120px 0 50px 0;
}

* html body{
    overflow: hidden;
}
div#headerArea {
    position: fixed !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background-color: #ebebeb;
    color: #fff;
    box-shadow: 0px -4px 3px -3px rgba(0,0,0,0.4) inset;
    z-index: 990;
}
* html div#contentsArea{
     height: 100%;
     overflow: auto;
 }
/*↑ヘッダー、フッター固定*/

/*↓右メニュー*/

.title{/*ロゴ*/
    position: absolute;
    top: 6px;
    left: 3%;
    font-size: 27px;
    text-shadow: 1px 1px 0px #000000,
    -1px 1px 0px #000000,
    1px -1px 0px #000000,
    -1px -1px 0px #000000;
}
/*ハンバーガー*/
.menu-trigger,
.menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
    z-index: 99999999;
    float: right;


}
.menu-trigger {
    position: relative;
    width: 50px;
    height: 44px;
    margin: 35px 50px 0 0;
}
.menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #000000;
    border-radius: 4px;
}
.ham1b {
    top: 0;
}
.ham2b {
    top: 20px;
}
.ham3b {
    bottom: 0;
}
.ham1a {
    -webkit-transform: translateY(20px) rotate(-45deg);
    transform: translateY(20px) rotate(-45deg);
}
.ham2a {
    opacity: 0;
}
.ham3a {
    -webkit-transform: translateY(-20px) rotate(45deg);
    transform: translateY(-20px) rotate(45deg);
}

.ham-menub {
    background-color: #fff; /*メニュー背景色*/
    box-sizing: border-box;
    height: 900px;
    padding: 50px 0px 0px 20px; /*メニュー内部上下左右余白*/
    position: fixed;
    top: -900px; /*メニュー横幅①と合わせる*/
    transition: transform 0.3s linear 0s; /*0.3s は変化するのにかかる時間*/
    width: 100%; /*メニュー横幅①*/
    z-index: 1000;
    box-shadow: 0px -4px 3px -3px rgba(0,0,0,0.4) inset;
}
li{
    color: black;
    list-style:none;
}

.ham-menua {
    transform: translateY(900px); /*メニュー横幅①と合わせる*/
}
.ham-bgb {

}
.ham-bga {
    opacity: 0.5; /*黒背景部分透過度*/
    z-index: 999;
    background-color: #333; /*黒背景部分背景色*/
    display: block;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 0.3s linear 0s; /*0.3s は変化するのにかかる時間*/
    width: 100%;
}
/*ハンバーガー終*/
.body1{
    width:100%;
    height:100%;
    left:100%;
    top:0;
    background:#34495e;
    position:absolute;
    transition:all .5s ease;
    z-index:9999;
}
.body2{
    left:0;
}
.body3{
    width:100%;
    height:100%;
    left:100%;
    top:0;
    background: #fff;
    position:absolute;
    transition:all .5s ease;
    z-index:999999;
}
.body4{
    left:0;
}
.to1{
    width:100%;
    height:100%;
    right:0;
    top:0;
    background:#34495e;
    position:absolute;
    transition:all .5s ease;
    z-index:9999;
}
.to2{
    right:100%;
}
.to3{
    width:100%;
    height:100%;
    right:0;
    top:0;
    background:#fff;
    position:absolute;
    transition:all .5s ease;
    z-index:999999;
}
.to4{
    right:100%;
}




.eff-1{
    width:100%;
    height:100%;
    right:100%;
    background:#34495e;
    position:absolute;
    transition:all .5s ease;
    z-index:1;
}


.button-1:active .eff-1{
    right:0;
}
